
<%= form_for @meal_plan do |f| %>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
        <div class="field">
           <%= f.label :recipe %>
            <br />
            <%= f.collection_select :recipe_id, Recipe.order(:name), :id, :name %>
        </div>
        <div class="field">
            <%= f.label :date %>
            <br />
            <%= f.date_select :meal_date %>
        </div>
        </br>
          <div class="actions">
            <%= submit_tag nil, class: 'btn btn-primary' %>
          </div>
  </div>
</div>
<% end %>