<%= render 'shared/navbar' %>
<div class = "row">
	<div class="col-sm-4"></div>
	<div class="col-sm-8 heading">	
		This Week's Meal suggestions are:
	</div>
</div>
</br>
<div class = "row">
	<div class="col-sm-4"></div>
	<div class="col-sm-8">
		<%# Need to figure out how to do the link link <%= form_tag meal_plans_path do %>
			<% @this_week_meals.each do |meal| %>
				<div class="row meal" data-recipe-id="<%=meal.id %>">
					<div class="col-sm-5"><%= meal.name %> - (recipe id) - <%= meal.id %> </div> 
				</div>
			<% end %>
		<%#<%= submit_tag %>
		<%#<% end %>
	</div>
</div>
</br>
</br>
<div class="row">
	<div class="col-sm-4"></div>
	<%# Need to figure out appropriate layout for this section %>
	<%#<div class="col-sm-3"><p>Summary: This week, you're making <% @difficult_items.length %><%#</div></p> %>
</div>

		<%# 
		It is impossible to have more than 3 items with a value of 2 or higher, so you only
		need 3 conditions. Not sure if there's a way to combine these
		
		 would be nice if we could use the same code for grains without having to rewrite

		 VISIT README FOR ADDITIONAL UNTESTED PLANNER CODE  %>


<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-3">
		<button class="btn btn-success save">
			Save Meal Plan
		</button>
	</div>
</div>
</br>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script> 
$(function () {
    var saveButton = $('.save');

    //var name = $(this).closest('.meal_name').val();

    //this will pull the first meal's Id
    var recipeId = $('.meal').data("recipe-id");
   
   //will have to write the dates using javascript formats
   var date = Date.now() + 1;

   var dateCorFormat = date.GetYear + date.GetMonth() + date.getDate();
    //date.setDate(date.getDate + 10)
   
    //need to decide how to select date & update the date format
    saveButton.on("click", function() {
        $.ajax({
           url:'/meal_plans/',
            type: 'POST',
            dataType: 'json',
             data: { meal_plan: {'recipe_id': recipeId, 'meal_date': date }},
            complete: function (jqXHR, textStatus) {
                // callback
            },
            success: function (data, textStatus, jqXHR) {
                // inform user that it was a sucess like:
             //  alert("successfully saved recipe to meal plan list");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // do something if the request fails
               // alert("could not save this meal");
            }
        });
    });

});

</script>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-2"><%= link_to "home", recipes_path %></div>
	<div class="col-sm-3"><%= link_to "See Last Week's Meals", meal_plans_path(date_filter: 7) %></div>
</div>