<%= render 'shared/navbar' %>
<%= render 'shared/recipe_link.html.erb' %>
<%= form_for @meal_plan, url: {action: "create"} do |f| %>
<div class = "row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 heading">	
		Your meal suggestion:
	</div>
</div>
</br>
<div class = "row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
    <% @this_week_meals.each do |meal| %>
		  <div class="row meal">
        <%=  f.hidden_field :recipe_id, value: meal.id %>
        <div class="col-sm-8"><%= link_to meal.name, meal %> - <%= meal.grain.name %> - <%= meal.protein.name %></div> 
		  </div>
		<% end %>
  </div>
     <div class="col-sm-3">
          <div class="row">
              <div class="col-sm-12">
                <strong>Filter by Date</strong>
              </div>
              <div class="col-sm-12">
                <% @number_of_meals.each_pair do |text, number| %>
                  <li>
                   <%= link_to "#{text}", planner_meal_plans_path(number_of_meals: number), class: 'label label-primary' %>
                  </li>
                <% end %>
              </div>
          </div>
      </div>
</div>
</br>
</br>

<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-6">Save meal for
   <% @date_options.each do |date| %>
      <%= f.radio_button :meal_date, date %>
      <%= f.label(:date_date, date) %>
    <br />
  <% end %>
		<button class="btn btn-success save">
			Save Meal
		</button>
<% end %>
	</div>
</div>
</br>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-2"><%= link_to "home", recipes_path %></div>
	<div class="col-sm-3"><%= link_to "See Last Week's Meals", meal_plans_path(date_filter: 7) %></div>
</div>