<%= render 'shared/navbar' %>
<%= render 'shared/recipe_link.html.erb' %>

<div class = "row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 heading">	
		This Week's Meal suggestions are:
	</div>
</div>
<div class = "row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
    <% @this_week_meals.each do |meal| %>
		  <div class="row meal" data-recipe-id="<%=meal.id %>">
        <div class="col-sm-8"><%= link_to meal.name, meal %> - <%= meal.grain.name %> - <%= meal.protein.name %></div> 
		  </div>
		<% end %>
  </div>
     <div class="col-sm-3">
          <div class="row">
              <div class="col-sm-12">
                <strong>Filter by Date</strong>
              </div>
              <div class="col-sm-12">
                <% @number_of_meals.each_pair do |text, number| %>
                  <li>
                   <%= link_to "#{text}", planner_meal_plans_path(number_of_meals: number), class: 'label label-primary' %>
                  </li>
                <% end %>
              </div>
          </div>
      </div>
</div>
</br>
</br>
<div class="row">
	<div class="col-sm-4"></div>
	<%# Need to figure out appropriate layout for this section %>
	<%#<div class="col-sm-3"><p>Summary: This week, you're making <% @difficult_items.length %><%#</div></p> %>
</div>

		<%# 
		It is impossible to have more than 3 items with a value of 2 or higher, so you only
		need 3 conditions. 
		
 %>


<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-3">
		<button class="btn btn-success save">
			Save Meal Plan
		</button>
	</div>
</div>
</br>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script> 
$(function () {
    var saveButton = $('.save');

    //leave this in for now so the call works and for reference.
    var recipeId = $('.meal').data("recipe-id");

    //probably easier to just have the ids array ready from the model tham find it in the dom
    var recipeIdList = "<%= j @this_week_meal_ids.to_json %>"


//[{"given_name":"John","middle_name":"Dee","family_name":"Doe","date_of_birth":"2005-03-25","grade_point_average":3,"start_date":"2014-03-25"},{"given_name":"Kelly","middle_name":null,"family_name":"Smith","date_of_birth":"2014-04-29","grade_point_average":null,"start_date":"2014-01-19"}]
   //I'm not even sure we have to convert the date format
   //we should either have a date select option or automatically set it based on its number in
   //this week meals
   
   //could probably actually set the dates in the controller & pass as json
   //combine them as a hash?
   
   var date = new Date(Date.now() + 1);

   date.setDate(date.getDate() + 1);
   var month = Number(date.getMonth()) + 1
   	if(month < 10){
   		month = "0" + month;
   	}
  	var dateDbFormat = date.getFullYear() + "-" + month + "-" + date.getDate();

    //single item save
    saveButton.on("click", function() {

      console.log("test");
    	$.ajax({
           url:'/meal_plans/batch_create',
            type: 'POST',
            dataType: 'json',
            data: {meal_plan: [{'recipe_id': 12, 'meal_date': '2016-11-18'},
             {'recipe_id': 13,    'meal_date': '2016-11-19'}] } ,
            headers: {
              'X-Transaction': 'POST Example',
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            complete: function (jqXHR, textStatus) {
                // callback
            },
            success: function (data, textStatus, jqXHR) {
                // inform user that it was a sucess like:
             //  alert("successfully saved recipe to meal plan list");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // do something if the request fails
               // alert("could not save this meal");
            }
        });
    });

});
//batch create version
   /*saveButton.on("click", function() {
       alert(recipeIdList); checking 
        $.ajax({
          url:'/meal_plans/batch_create',
            type: 'POST',
            dataType: 'json',
            //this will probably be multi-dimensional
             data: { meal_plan: {'recipe_id': recipeId, 'meal_date': date }},
            complete: function (jqXHR, textStatus) {
                // callback
            },
            success: function (data, textStatus, jqXHR) {
                // inform user that it was a sucess like:
             //  alert("successfully saved recipe to meal plan list");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // do something if the request fails
               // alert("could not save this meal");
            }
        });
    });

});*/

</script>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-2"><%= link_to "home", recipes_path %></div>
	<div class="col-sm-3"><%= link_to "See Last Week's Meals", meal_plans_path(date_filter: 7) %></div>
</div>