<%= render 'shared/navbar' %>
<%= render 'shared/recipe_link.html.erb' %>
<%= form_for @meal_plan, url: {action: "create"} do |f| %>
<div class = "row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 heading">	
		Your meal suggestion:
	</div>
</div>
</br>
<div class = "row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
    <% @this_week_meals.each do |meal| %>
		  <div class="row meal">
        <%=  f.hidden_field :recipe_id, value: meal.id %>
        <div class="col-sm-8"><%= link_to meal.name, meal %></div> 
		  </div>
		<% end %>
  </div>
</div>
</br>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6"> Select date for meal: </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
   <% @date_options.each_pair do |user,db| %>
        <label class="form-check-inline">
          <div class="col-sm-3">
            <%= f.radio_button :meal_date, db %>
            <%= f.label(:date_date, user) %>
         </div>
         
        </label>
    <% end %>
  </div>
</div>
</br> 
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
		<button class="btn btn-success save">
			Save Meal
		</button>
  </div>
</div>
<% end %>

</div>
</br>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-2"><%= link_to "home", recipes_path %></div>
	<div class="col-sm-3"><%= link_to "See Last Week's Meals", meal_plans_path(date_filter: 7) %></div>
</div>