<%= render 'shared/navbar' %>
<%= render 'shared/side_links' %>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6">
  	<% if @meal_plan.meal_date > Date.today %>
  		You're eating <%= @meal_plan.recipe.name %> on <%= @meal_plan.meal_date %>.</div>
  	<% else %>
  	   You ate <%= @meal_plan.recipe.name %> on <%= @meal_plan.meal_date %>.</div>
  	 <% end %>
</div>
</br>
