
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :difficulty_level %><br />
        <%= f.number_field :difficulty_level, max: 5, min: 0 %>
      </div>
   <label><strong>Ingredients</strong></label>
 <% Ingredient.all.order(:name).each do |ingredient| %>
   <div class="field check-ingredient">
       <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id %> <%= ingredient.name %>
     </div>
<% end %>
    </br>
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
  </div>
</div>
<% end %>