
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-10 offset-1 col-md-4 offset-md-3">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :difficulty_level %><br />
        <%= f.number_field :difficulty_level, max: 5, min: 0 %>
      </div>

   <label id="ingredients-label"><strong>Ingredients</strong></label>
   <% @food_groups.each do |food_group| %>
    <div class="food-groups-ingredients">
      <div class="food-group-label"> <%= link_to food_group.name, "#" %> <span class="fa fa-caret-down"></span></div> 
          <% @ingredients.where(food_group_id: food_group.id).each do |ingredient| %>
            <div class="field recipe-form-ingredient hidden-ingredient">
               <% if @recipe.ingredients.count > 0 && @recipe.ingredients.include?(ingredient) %>
                     <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, {:checked => "checked"} %><%= ingredient.name %>
              <% else %>
                       <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id %> <%= ingredient.name %>
              <% end %>

            </div>
          <% end %>
        </div>
      <% end %>
    </br>
     <div class="field">
        <%= f.check_box :active, checked: @recipe.new_record? || @recipe.active? %>  <%= f.label :active %>
      </div>
      <div class="actions">
        <%= f.submit class: 'btn btn-primary form-button' %>
      </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$(function () {

  $('.food-group-label').on('click', function(event){
     event.preventDefault()
     $(this).find('span').toggleClass('fa-caret-down').toggleClass('fa-caret-up');
  $(this).closest('.food-groups-ingredients').find('.recipe-form-ingredient').toggleClass('hidden-ingredient');
   })

  });
</script>
