<%= render 'shared/navbar' %>
<%= render 'shared/side_links' %>
<div class="row">
  <div class="col-sm-4"></div>
  <% if @recipe.grain.name = "none" %>
    <div class="col-sm-6"><em><%= @recipe.name %></em> is made with <%= @recipe.protein.name %>.</div>
</div>
  <% else %>
    <div class="col-sm-6"><em><%= @recipe.name %></em> is made with <%= @recipe.grain.name %> and <%= @recipe.protein.name %>.</div>
</div>
  <% end %>

</br>
