<%= render 'shared/side_links' %>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6">
  		<% if @times_eaten.empty? %>
  	  		You have not yet made <em><%= @recipe.name %></em>.
  	  	<% else %>
  	  		<em><%= @recipe.name %></em> was last eaten on <%= @times_eaten.last %>.
  	  	<% end %>
  </div>
</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4"><footer><%= link_to 'Back', recipes_path %></footer></div>
</div>
</br>