<%= form_for @meal do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
        <div class="field">
           <%= f.label :recipe %>
            <br />
            <%= f.collection_select :recipe_id, @recipes, :id, :name %>
        </div>
        <div class="field">
            <%= f.label :date %>
            <br />
            <%= f.date_select :meal_date %>
        </div>
        </br>
          <div class="actions">
            <%= submit_tag nil, class: 'btn btn-primary form-button' %>
          </div>
  </div>
</div>
<% end %>