<div class = "row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 heading">  
    <h4>This Week's Meal suggestions are:</h4>
  </div>
</div>
</br> 
<div class = "row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 meal-suggestions">
    <% @this_week_meals.each do |meal| %>
      <div class="row">
        <div class="col-sm-6 meal">
          <%= link_to meal.name, recipe_path(meal.recipe_id) %>
           <%=  hidden_field_tag(:recipe_id, meal.recipe_id, class: 'recipe-id') %>
           <%=  hidden_field_tag(:user_id, current_user.id, class: 'user-id') %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <div class="row">
       <div class="col-sm-12"> <strong>Number of Suggestions</strong></div>
          <div class="col-sm-12">
              <% @number_of_meals.each_pair do |text, number| %>
                <li>
                  <%= link_to "#{text}", planner_meals_path(number_of_meals: number), class: 'label label-primary' %>
                </li>
              <% end %>
          </div>
        </div>
    </div>
  </div>
</br>
</br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">Filter by grain:</div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
     <% @grains.each do |grain| %>
      <% unless grain == @grains.last %>
       <%= link_to grain.name, planner_meals_path(grain_requests: grain.id) %>,
      <% else %>
        <%= link_to grain.name, planner_meals_path(grain_requests: grain.id) %>
      <% end %>
    <% end %>
  </div>
</div>
  <%# Need to figure out appropriate layout for this section %>
  <%#<div class="col-sm-3"><p>Summary: This week, you're making <% @difficult_items.length %><%#</div></p> %>

    <%# 
    It is impossible to have more than 3 items with a value of 2 or higher, so you only
    need 3 conditions. 
    
 %>
</br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-3">
    <button class="btn btn-success save">
      Save Meal Plan
    </button>
  </div>
</div>
</br>
<script type="text/javascript"> 
$(function () {
    var saveButton = $('.save');


//currently basing date on tomorrow + 1 for each new recipe
   
   var date = new Date(Date.now());



    saveButton.on("click", function() {

     var date = new Date(Date.now());
     var dataArr = [];

 var meals = $("body").find('.meal');
 for(var u = 0; u < meals.length; u++){
  var tempHash = {}
 
  // date is getting reset every time, so you only need to add 1
        date.setDate(date.getDate() + 1);
        var month = Number(date.getMonth()) + 1
           if(month < 10){
             month = "0" + month;
           }
        var dateDbFormat = date.getFullYear() + "-" + month + "-" + date.getDate();
         userID = meals[u].children.user_id.value;
  recipeID = meals[u].children.recipe_id.value;
  tempHash["recipe_id"] = recipeID;
  tempHash["user_id"] = userID;
  tempHash["meal_date"] = dateDbFormat;
 dataArr.push(tempHash);
 }

      
        $.ajax({
             url:'/meals/batch_create',
              type: 'POST',
              dataType: 'json',
              contentType: 'application/json',
              data: JSON.stringify(dataArr),
               headers: {
                'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              },
          //    success handled by the controller
                error: function (jqXHR, textStatus, errorThrown) {
              //     may want to do flash instead
                  alert("could not save this meal");
              }
          });
    });

});

</script>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"><%= link_to "See Last Week's Meals", meals_path(date_filter: 7) %></div>
</div>