<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> <%= javascript_include_tag "application", "data-turbolinks-track" => true %> </head>

  <body>
     <nav class="navbar navbar-static-top">
      <a class="navbar-brand" href="#">Meal Planner</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item active">
          <%= link_to "Home",   root_path %>
        </li>
        <% if logged_in? %>
          <li class="dropdown nav-item active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Recipes <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add New", new_recipe_path %></li>
            </ul>
          </li>
          <li class="dropdown nav-item active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Meals <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add New", new_meal_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Recent Meals", meals_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Planner", planner_meals_path %>
              </li>
            </ul>
          </li>
          <li class="dropdown nav-item active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
    </nav>

  	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

  </body>
</html>
